In [2]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [41]:
df = pd.read_csv("./spaceship-titanic/train.csv")

In [42]:
df.head(100)

   PassengerId HomePlanet CryoSleep  ... VRDeck               Name  Transported
0      0001_01     Europa     False  ...    0.0    Maham Ofracculy        False
1      0002_01      Earth     False  ...   44.0       Juanna Vines         True
2      0003_01     Europa     False  ...   49.0      Altark Susent        False
3      0003_02     Europa     False  ...  193.0       Solam Susent        False
4      0004_01      Earth     False  ...    2.0  Willy Santantines         True
..         ...        ...       ...  ...    ...                ...          ...
95     0103_01      Earth     False  ...   17.0     Arlen Mclainez         True
96     0103_02      Earth      True  ...    0.0    Shaele Mclainez         True
97     0103_03      Earth      True  ...    0.0     Fanne Mclainez        False
98     0105_01      Earth       NaN  ...  131.0   Carry Cleachrand        False
99     0107_01       Mars     False  ...    0.0        Coobix Hart        False

[100 rows x 14 columns]

In [43]:
df.dtypes

PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object

In [44]:
nan_matrix = df.isnull()
nan_matrix.sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [45]:
homeplanet_mode = df['HomePlanet'].mode()[0]
cryosleep_mode = df['CryoSleep'].mode()[0]
cabin_mode = df['Cabin'].mode()[0]
destination_mode = df['Destination'].mode()[0]
age_mean = df['Age'].mean()
vip_mode = df['VIP'].mode()[0]
foodcourt_median = df['FoodCourt'].median()
roomservice_median = df['RoomService'].median()
shoppingmall_median = df['ShoppingMall'].median()
spa_median = df['Spa'].median()
vrdeck_median = df['VRDeck'].median()
name_mode = df['Name'].mode()[0]

df['HomePlanet'].fillna(homeplanet_mode, inplace=True)
df['CryoSleep'].fillna(cryosleep_mode, inplace=True)
df['Cabin'].fillna(cabin_mode, inplace=True)
df['Destination'].fillna(destination_mode, inplace=True)
df['Age'].fillna(age_mean, inplace=True)
df['VIP'].fillna(vip_mode, inplace=True)
df['FoodCourt'].fillna(foodcourt_median, inplace=True)
df['RoomService'].fillna(roomservice_median, inplace=True)
df['ShoppingMall'].fillna(shoppingmall_median, inplace=True)
df['Spa'].fillna(spa_median, inplace=True)
df['VRDeck'].fillna(vrdeck_median, inplace=True)
df['Name'].fillna(name_mode, inplace=True)

/tmp/ipykernel_99218/351851953.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['HomePlanet'].fillna(homeplanet_mode, inplace=True)
/tmp/ipykernel_99218/351851953.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['CryoSleep'].fillna(cryosleep_mode, inplace=True)
/tmp/ipykernel_99218/351851953.py:15: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['CryoSleep'].fillna(cryosleep_mode, inplace=True)
/tmp/ipykernel_99218/351851953.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Cabin'].fillna(cabin_mode, inplace=True)
/tmp/ipykernel_99218/351851953.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Destination'].fillna(destination_mode, inplace=True)
/tmp/ipykernel_99218/351851953.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(age_mean, inplace=True)
/tmp/ipykernel_99218/351851953.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['VIP'].fillna(vip_mode, inplace=True)
/tmp/ipykernel_99218/351851953.py:19: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['VIP'].fillna(vip_mode, inplace=True)
/tmp/ipykernel_99218/351851953.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['FoodCourt'].fillna(foodcourt_median, inplace=True)
/tmp/ipykernel_99218/351851953.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['RoomService'].fillna(roomservice_median, inplace=True)
/tmp/ipykernel_99218/351851953.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ShoppingMall'].fillna(shoppingmall_median, inplace=True)
/tmp/ipykernel_99218/351851953.py:23: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Spa'].fillna(spa_median, inplace=True)
/tmp/ipykernel_99218/351851953.py:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['VRDeck'].fillna(vrdeck_median, inplace=True)
/tmp/ipykernel_99218/351851953.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Name'].fillna(name_mode, inplace=True)

In [46]:
nan_matrix = df.isnull()
nan_matrix.sum()

PassengerId     0
HomePlanet      0
CryoSleep       0
Cabin           0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Name            0
Transported     0
dtype: int64

In [47]:
scaler = MinMaxScaler()
df['Age'] = scaler.fit_transform(pd.DataFrame(df['Age']))
df['RoomService'] = scaler.fit_transform(pd.DataFrame(df['RoomService']))
df['FoodCourt'] = scaler.fit_transform(pd.DataFrame(df['FoodCourt']))
df['ShoppingMall'] = scaler.fit_transform(pd.DataFrame(df['ShoppingMall']))
df['Spa'] = scaler.fit_transform(pd.DataFrame(df['Spa']))
df['VRDeck'] = scaler.fit_transform(pd.DataFrame(df['VRDeck']))

df = pd.get_dummies(df, columns=['HomePlanet', 'Destination'], drop_first= True)

In [48]:
df

     PassengerId  CryoSleep  ... Destination_PSO J318.5-22  Destination_TRAPPIST-1e
0        0001_01      False  ...                     False                     True
1        0002_01      False  ...                     False                     True
2        0003_01      False  ...                     False                     True
3        0003_02      False  ...                     False                     True
4        0004_01      False  ...                     False                     True
...          ...        ...  ...                       ...                      ...
8688     9276_01      False  ...                     False                    False
8689     9278_01       True  ...                      True                    False
8690     9279_01      False  ...                     False                     True
8691     9280_01      False  ...                     False                    False
8692     9280_02      False  ...                     False                     True

[8693 rows x 16 columns]

In [49]:
df.to_csv("processed_titanic.csv", index=False)